<h1>Words</h1>

<h3>Here are the words that have been defined by YOU:</h3>

<ul>
	<%@words.each() do |word| %>
	<li><a href='/words/<%=word.id()%>'><%=word.second_def()%></a></li>
	<% end %>
</ul>
<p><a href='/'>Back</a></p>	
